aws_region     = "us-east-1"
vpc_name       = "dev-vpc"
vpc_cidr_block = "10.10.0.0/16"

availability_zones   = ["us-east-1a", "us-east-1b"]
public_subnet_cidrs  = ["10.10.0.0/24", "10.10.1.0/24"]
private_subnet_cidrs = ["10.10.10.0/24", "10.10.11.0/24"]

enable_nat_gateway = false

log_archive_bucket_name = "example-company-log-archive"

tags = {
  Project     = "aws-secure-baseline"
  Environment = "dev"
  ManagedBy   = "terraform"
  CostCenter  = "platform-engineering"
}
